$main-title-color: #E8E8E8; // Name of the app

$menu-color: #D0D0D0; // Menu options

$copyright-color: #E8E8E8; // Copyright text

$red-color: #BE0000; // Subtitle color

$title-color: #D5D5D5; // Color of the title 'select a chord'

$nav-color: #A8A8A8; // Color of the nav button

$dark-grey-color: #1A1A1A;  // Color of the text with white background color

$white-color: #FFFFFF; // Color of the white circle

$card-text-color-1: #D0D0D0; // Text color of the main cards

$card-text-color-2: #A8A8A8; // Text color of the other cards

$main-background-color: #0d0d2b; // Background color of the page

$card-background-color-light-1: #281A64; // First color of radial background in main cards

$card-background-color-light-2: #241858; // First color of radial background in other cards

$card-background-color-dark: #1C0E51; // Second color of radial background in main cards and in other cards
