<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css?ver=0.0.1" />
        <title>Chords Web Application</title>
    </head>
    <body>
        <div class="container" id="app">
            <main class="main">
                <header class="header">
                    <h1 class="heading-1">Chord progressions maker</h1>
                </header>
                <div class="recents" v-if="recentCards.length">
                    <div
                        class="recent_card"
                        v-for="(recentCard, index) in recentCards"
                        v-html="recentCard.chord_HTML.toUpperCase()"
                        :key="index"
                    ></div>
                </div>
                <div class="cards">
                    <div
                        class="card"
                        v-for="(card, index) in cards"
                        v-html="upperCase(card.chord_HTML)"
                        :key="index"
                        @click="selectCard(card)"
                    ></div>
                </div>
            </main>
        </div>
        <script src="./js/bundle.js?ver=0.0.1" type="text/javascript"></script>
    </body>
</html>
