.card {
  background: radial-gradient($card-background-color-light-1, $card-background-color-dark);
  width: 100%;
  min-height: 8rem;
  margin: 2rem auto;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $card-text-color-1;
  font-size: 2.5rem;
  transition: all .2s;

  &:hover,
  &:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.09);
  }
}
